:root {
    --light-green: rgb(122, 148, 147);
    --dark-green:  rgb(101, 125, 124);
}

body {
    background-color: var(--light-green);
}

header h1 {
    color: white;
    text-align: center;
    font-size: 400%;
    margin-bottom: 5vh;
}

#start {
display: flex;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
width: 100px;
justify-content: center;
font-size: 20px;
border-radius: 3px;
padding: 5px;
}

#container, #save-score {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin: auto;
    background-color: var(--dark-green);
}

#time-remaining {
    color: white;
    font-size: larger;
    text-align: center;
    margin-top: 10vh;
    font-size: 30px;
}

#question-box, h2 {
    border-bottom: 2px solid white;
    width: 490px;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
}
li button {
    padding: 10px;
    width: 420px;
    text-align: left;
    border-radius: 3px;
    margin-top: 4px;
    border: 1px solid black;
    font-size: 14px;
}

li {
    list-style: none;
}

li button:hover {
    background-color: var(--light-green);
    color: white;
    font-weight: bold;
}

#start:hover {
    box-shadow: 0 0 10px white;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
}

#initials {
    width: 50px;
    margin-right: 20px;
}

/* #leaderboard {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin: auto;
    background-color: var(--dark-green);
    display: flex;
    flex-direction: row;
    list-style-type: none;
} */