:root {
    --light-green: rgb(122, 148, 147);
    --dark-green:  rgb(101, 125, 124);
}

body {
    background-color: var(--light-green);
}

header h1 {
    color: white;
    text-align: center;
    font-size: 400%;
    margin-bottom: 15vh;
}

#container {
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin: auto;
    background-color: var(--dark-green);
}

#time-remaining {
    color: white;
    font-size: larger;
    text-align: center;
    margin-top: 20vh;
}

#question-box {
    border-bottom: 2px solid white;
    width: 490px;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
}
li button {
    padding: 10px;
    width: 400px;
    text-align: left;
    border-radius: 3px;
    margin-top: 4px;
    border: 1px solid black;
    font-size: 14px;
}

li {
    list-style: none;
}

li button:hover {
    background-color: var(--light-green);
    color: white;
    font-weight: bold;
}